<div id="burger-image">
<img src="assets/img/cheeseburger.png" alt="burger icon" width="250px" height="250px" >
</div>

<h1>Eat-Da-Burger!</h1>

<form class="create-form">

  <div class="form-group">
    <input type="text" id="ca" name="name">
  </div>

  <button class="submit">Submit</button>

  <p>Enter a burger you want to eat and click the "submit" button.</p>
</form>
